{# 
Mobile nav: Home || 🍔 
										Methods
                    Disciplines
										About
									 [Search]

Desktop nav: Home | Disciplines | Methods | About || Search

- do not fix nav at top
- do not use dropdowns
- mobile 
 #}


<header>
	<nav>
		<ul>
			<li>
				<a href="/" tabindex="0">{{ metadata.title }}</a>
			</li>
			<li>
				<a href="/disciplines" tabindex="0">Disciplines</a>
			</li>
			<li>
				<a href="/all-methods" tabindex="0">Methods</a>
			</li>
			<li>
				<a href="/about" tabindex="0">About</a>
			</li>
			<li>
				<a href="#" tabindex="0">Search</a>
			</li>
		</ul>
	</nav>
</header>