{# 
Mobile nav: Home || 🍔 
										How to use this site
										Methods
                    Disciplines
										About

Desktop nav: Home | How to use this site | Disciplines | Methods | About 

- do not fix nav at top
- do not use dropdowns
- mobile 
 #}


<header>
	<nav>
		<button id="openMenu" class="open-menu" aria-label="Open site menu" aria-expanded="false" type="button"></button>
		<ul>
			<li class="title">
				<a href="/" tabindex="0">{{ metadata.title }}</a>
			</li>
			<li>
				<a href="/how-to-use" tabindex="0">How To Use This Site</a>
			</li>
			<li>
				<a href="/all-methods" tabindex="0">Methods</a>
			</li>
			<li>
				<a href="/disciplines" tabindex="0">Disciplines</a>
			</li>
			<li>
				<a href="/about" tabindex="0">About</a>
			</li>
		</ul>
	</nav>
</header>