{# 
Mobile nav: Home || 🍔 
										Methods
                    Disciplines
										About
									 [Search]

Desktop nav: Home | Disciplines | Methods | About || Search

- do not fix nav at top
- do not use dropdowns
- mobile 
 #}


<header>
	<nav>
		<ul>
			<li class="title">
				<a href="/" tabindex="0">{{ metadata.title }}</a>
			</li>
			<li>
				<a href="/how-to-use" tabindex="0">How To Use This Site</a>
			</li>
			<li>
				<a href="/all-methods" tabindex="0">Methods</a>
			</li>
			<li>
				<a href="/disciplines" tabindex="0">Disciplines</a>
			</li>
			<li>
				<a href="/about" tabindex="0">About</a>
			</li>
			<li class="search-icon">
				<a href="/#site-search" aria-label="Search this site" tabindex="0">
					<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
				</a>
			</li>
		</ul>
		<button id="openMenu" class="open-menu" aria-label="Open site menu" aria-expanded="false" type="button">
			<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
		</button>
	</nav>
</header>