<div class="theme-control">
    <div class="theme-control-group">
    <label for="color-toggle">Color Mode</label>
    <button id="color-toggle" class="button --sm" aria-pressed="false">Off</button>
  </div>
  <div class="theme-control-group" id="hue-control">
    <label for="hue-slider">Hue: <span id="hue-value">var(--hue)</span>°</label>
    <input type="range" id="hue-slider" min="0" max="360" value="150" step="1">
  </div>
  <div class="theme-control-group" id="chroma-control">
    <label for="chroma-slider">Chroma: <span id="chroma-value">10</span>%</label>
    <input type="range" id="chroma-slider" min="0" max="0.25" value="0.1" step="0.01">
  </div>
</div>

<script src="/r/js/theme-control.js"></script> 