---
import '@styles/normalize.css'
import '@styles/variables.css'
import '@styles/global.css'
import {Font} from 'astro:assets'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import type { FooterData } from '@components/Footer.astro'

interface Props {
  data?: FooterData | null
  pageTitle?: string
}

const {data, pageTitle} = Astro.props

if (!data) {
  Astro.response.status = 404
  throw new Error('Not found')
}

---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle}/>
  <body>
    <Header />
    <main id="main-content">
      <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
      <slot />
    </main>
    {<Footer data={data} />}
  </body>
</html>
