---
import '../styles/normalize.css'
import Footer from '@components/Footer.astro'
import type {SITE_METADATA_QUERYResult} from 'sanity.types'

type SiteMetadata = NonNullable<SITE_METADATA_QUERYResult>

interface Props {
  data: SiteMetadata
}

const {
  data,
  data: {layout}
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{layout && layout.title + ' | '} UX Methods | Astro</title>
  </head>
  <body>
    <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
    <a href="/">Back to Index</a>
    <slot />
  </body>
  {data.footer && <Footer data={data} />}
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
