---
import '@styles/normalize.css'
import '@styles/variables.css'
import '@styles/global.css'
import { VisualEditing } from "@sanity/astro/visual-editing";
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import type { FooterData } from '@components/Footer.astro'

interface Props {
  data?: FooterData | null
  pageTitle?: string
  description?: string
  includeSearch?: boolean
}

const {data, pageTitle, description, includeSearch = false} = Astro.props

if (!data) {
  Astro.response.status = 404
  throw new Error('Not found')
}

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle} description={description}>
    <slot name="json-ld" slot="json-ld"/>
    <slot name="search-scripts" slot="search-scripts"/>
  </Head>
  <body>
    <Header />
    <main id="main-content">
      <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
      <slot />
      <VisualEditing enabled={visualEditingEnabled} zIndex={1000}/>
    </main>
    {<Footer data={data} />}
  </body>
</html>
