/* Reset */

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Improve text rendering
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  Un-style unordered lists
*/

ul {
  list-style-type:none;
}

/*
Remove Animations for people who don't want them
*/
@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}