# Mac files
.DS_Store
_local

# Dependency directories
/node_modules

# Local development directories
/_kg-integration/
/_2021/


# Sanity Functions
functions/**/.env*
functions/**/.build/
functions/**/node_modules/
