@import '../style/variables.scss',
        '../style/mixins.scss';

section.search {
  padding-top: 3rem;
  margin-bottom: 2rem;
  // scroll site search into view from Search anchor link:
  // padding-top: 80px;
  // margin-top: -80px;
  @include breakpoint(medium) {
    // padding-top: 100px;
    // margin-top: -100px;
  }
  form {
    @include breakpoint(medium) {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
    }
  }
  input {
    border: none;
    border-bottom: 2px solid $primary;
    background-color: $dark-background;
    color: $light-text;
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    &::placeholder {
      color: $light-gray-text;
      transition: opacity 0.3s;
    }
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
    @include breakpoint(medium) {
      // row start / column start / row end / column end
      grid-area: 1 / 1 / 1 / 4;
    }
  }
  label {
    display: inline-block;
    color: $light-gray-text;
    padding: 8px 0 24px;
    font-size: 90%;
    @include breakpoint(medium) {
      grid-area: 2 / 1 / 2 / 4;
    }
  }
  button {
    background-color: $primary-dark-bg;
    color: $light-text;
    padding: 1rem;
    border: none;
    font-family: $header;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    &[type=submit] {
      width: 100%;
      border-radius: 5px;
    }
    &[type=reset] {
      display: block;
      margin: 2rem auto;
      border-radius: 30px;
      line-height: 0;
    }
  }
  .search-results {
    padding-inline-start: 0;
    width: 90%;
    margin: 1rem auto;
    padding: .5rem 5%;
    background-color: $card-background;
    @include breakpoint(medium) {
      padding: .5rem 2rem;
      width: 80%;
    }
    h2.results-count {
      padding: 1.5rem 0 1rem;
      font-size: 1rem;
      font-weight: 400;
    }
    h3 {
      a {
        text-decoration: underline;
      }
      span {
        font-weight: 400;
        color: $light-gray-text;
        padding-left: .5rem;
        &::before {
          content: " — ";
          padding-right: .5rem;
        }
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      padding-bottom: 1.5rem;
      span {
        font-size: 1rem;
      }
      &.no-results {
        padding: 1.5rem 0;
      }
    }
    .close-icon {
      display: flex;
      justify-content: center;
      padding: 2rem 0 3rem;
      a {
        display: inline-block;
        line-height: 0;
        background:  $primary-dark-bg;
        padding: 1.5rem;
        border-radius: 100px;
      }
    }
  }
}
