	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#182125">
  	<link rel="manifest" href="/manifest.json"/>
		<link rel="stylesheet" href="/style/global.css">
		<link rel="icon" type="image/png" sizes="72x72" href="/icons/favicon.png">

		<title>UX Methods V2 {{ title | prependPipe if title }}{{ resource.title | prependPipe if resource.title}}</title>

    </title>
  	<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>
		<script src="/js/main.js" type="module" defer></script>
		<script type="application/ld+json">
			{% getBundle "jsonld" %}
		</script>
	</head>