@import '../../style/variables.scss',
        './card.scss';

li.card {
  display: flex;
  flex-direction: column;
  img {
    height: 225px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  div {
    padding: 0 .75rem .75rem;
    p {
      margin: .25rem 0;
      font-size: 90%;
      line-height: 1.25;
    }
  }
  a {
    overflow: hidden;
  }
}
li.dark {
  div {
    padding: .25rem .75rem .75rem;
    p {
      line-height: 1.5;
    }
  }
}
