@import '../../style/variables.scss';

li.card {
  list-style: none;
  max-width: $card-max;
  background-color: $light-text;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  border: 0;
  // border: 2px solid rgba(43, 182, 252, 0);
  transition: border 0.25s ease-out;
  &:hover {
      // border: 2px solid rgba(43, 182, 252, .8);
      // transition: border 0.25s ease-in;
  }
  a {
    display: flex;
    height: 100%;
    flex-direction: row;
    max-width: $card-max;
  }
  img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }
  div {
    padding: .5rem;
    p {
      color: $gray-text;
      line-height: 1.25;
      margin: .1rem 0 0 0;
    }
  }
}
