---
layout: base.njk
pagination:
  data: methods
  alias: resource
  size: 1
permalink: /method/{{ resource.slug }}/index.html
---
{% jsonld %}
            {
              "@context": "https://schema.org",
              "@type": "Article",
              "url": "{{ resource.uri }}",
              "headline": "{{ resource.title }}",
              "datePublished": "{{ resource.dateStamps.createdAt }}",
              "dateModified": "{{ resource.dateStamps.reviseAt | default(resource.dateStamps.createdAt) }}",
              "image": {
                "@type": "ImageObject",
                "inLanguage": "en-US",
                "url": "{{ resource.heroImage.url }}"
              }
            },
{% endjsonld %}

<article class="method">
  <section class="overview">
    <div class="hero">
      {% responsiveHero resource.heroImage %}
      {% if resource.heroImage.credit %}
        <p>Photo by <a href={{resource.heroImage.source}} tabIndex='-1'>{{resource.heroImage.credit.replace(' by ',' via ')}}</a>
        </p>
      {% endif %}
    </div>
    <div class="header">
      <h1>
        <span>{{ resource.title }}</span>
        <span>Method</span>
      </h1>
    </div>
    <div class="description">
      <p>{{ resource.overview | safe }}</p>
    </div>
  </section>
  {% if resource.prepareMethods | length > 0 %}
    <section>
      <h2>Preparation</h2>
      <p>{{ resource.title }} is often more effective when it is informed by these complementary methods.</p>
      <ul class="grid">
        {% for method in resource
          .prepareMethods
          .slice(0, 6) %}
          {% resourceCard method %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  <section class="details">
    <div class="steps">
      <h2>Steps</h2>
      <p>{{ resource.steps | safe }}</p>
    </div>
    <div class="outcomes">
      <h2>Outcomes</h2>
      <p>{{ resource.title }} typically produces insight and solutions focused on these areas:</p>
      <ul>
        {% for outcome in resource.outcomes %}
          <li>
            <h3>{{ outcome.prefLabel }}</h3>
            <p>{{ outcome.definition }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% if resource.resources | length > 0 %}
    <section>
      <h2>Resources</h2>
      <ul class="grid">
        {% for resource in resource
          .resources
          .slice(0, 6) %}
          {% resourceCardExt resource%}
        {% endfor %}
      </ul>
    {% endif %}
  </section>
  {% if resource.continueMethods | length > 0 %}
    <section>
      <h2>Next Steps</h2>
      <ul class="grid">
        {% for method in resource
          .continueMethods
          .slice(0, 6) %}
          {% resourceCard method, "full-card" %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  <section class="admin-metadata">
    {% if resource.stepSources %}
      <h2>References</h2>
      <ol>
        {% for citation in resource.stepSources %}
          <li class="source-citation">
            <a href="{{ citation.source }}">{{ citation.name }}</a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
    <p class="datestamp">{{resource.title}} Method details last edited on {{ resource.dateStamps.createdAt }}</p>
  </section>
</article>