/* Card grid and cards  */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min), 3fr));
  grid-gap: var(--spacing-md);
  padding: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

/* Shared styles across cards */
li.card {
  list-style: none;
  max-width: 40%;
  &:hover {
    box-shadow: var(--shadow-md);
    background-color: var(--bg-strong);
  }
  img {
    object-fit: cover;
  }
}

.card a {
  text-decoration: none;
}


.index .resource-cards li {

}

li.full-card {
  display: flex;
  flex-direction: column;
  img {
    height: 225px;
    width: 100%;
  }
  div {
    padding: var(--spacing-sm);
  }
  a {
    overflow: hidden;
  }
}

li.compact-card {
  a {
    display: flex;
    height: 100%;
    flex-direction: row;
    max-width: var(--card-max);
  }
  img {
    display:none;
  }
  div {
    padding: 0.5rem;
    width: 70%;
    p {
  display:none;
      }
    }
  }
}