header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  font-size: 1rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding-inline-start: 0rem;
  font-family: var(--header);
}