---
layout: base.njk
title: "UX Disciplines"
permalink: /disciplines/index.html
---
<section class="resource-cards">
  <h1>UX Disciplines</h1>
  <ul class="grid">
    {% for discipline in disciplines %}
      {% resourceCard discipline, "full-card" %}
    {% endfor %}
  </ul>
</section>