---
layout: base.njk
title: "UX Disciplines"
permalink: /disciplines/index.html
---
<h1>UX Disciplines</h1>
<ul>
  {% for discipline in disciplines %}
    {% resourceCard discipline %}
  {% endfor %}
</ul>