---
layout: base.njk
pagination: 
  data: articles
  alias: resource
  size: 1
permalink: /{{ resource.slug }}/index.html
---
<article class="article">
  <div class="hero">
    {% basicHero resource.heroImage %}
  </div>

  <div class="header">
    <h1>{{ resource.title }}</h1>
  </div>

  <div class="body">
    {{ resource.body | safe }}
  </div>
</article>