---
layout: base.njk
---
<H1>{{ metadata.title }}</H1>
{# action trigger test #}
<h2>Disciplines</h2>
<ul>
  {% for discipline in disciplines %}
    <li class="discipline"><a href="discipline/{{ discipline.slug }}">{{ discipline.title }}</a></li>
  {% endfor %} 
</ul>
<h2>Methods</h2>
<ul>
  {% for method in methods %}
    <li class="method"><a href="method/{{ method.slug }}">{{ method.title }}</a></li>
  {% endfor %} 
</ul>
