---
layout: base.njk
pagination:
  data: methods
  alias: resource
  size: 1
permalink: /method/{{ resource.slug }}/index.html
---
{# Adds available json data properties to the html for debugging #}
{% jsonld %}
            {
              "@context": "https://schema.org",
              "@type": "Article",
              "url": "{{ resource.uri }}",
              "headline": "{{ resource.title }}",
              "datePublished": "{{ resource.dateStamps.createdAt }}",
              "dateModified": "{{ resource.dateStamps.reviseAt | default(resource.dateStamps.createdAt) }}",
              "image": {
                "@type": "ImageObject",
                "inLanguage": "en-US",
                "url": "{{ resource.heroImage.url }}"
              }
            },
{% endjsonld %}

<!-- Debug: Available Resource Properties -->
<pre style="display: none;">
{{ resource | dump(2) | safe }}
</pre>



<article class="method container">
  <section id="overview" class="flow">
    <div class="hero flow">
      <div class="hero-title">
        <h1>
          <span>{{ resource.title }}</span>
        </h1>
        <p class="--font-emphasis --text-muted">
          <span>Method</span>
        </p>
        <p>
          <span>{{ resource.metaDescription }}</span>
        </p>
        <p class="caption --text-md">
          <span>Updated {{ resource.dateStamps.revisedAt | default(resource.dateStamps.createdAt) }}</span>
        </p>
      </div>
      <div class="hero-image">
        {% responsiveHero resource.heroImage %}
        {% if resource.heroImage.credit %}
          <p class="caption">Photo by <a href={{resource.heroImage.source}} tabIndex='-1'>{{resource.heroImage.credit.replace(' by ',' via ')}}</a>
          </p>
        {% endif %}
      </div>
    </div>
    <div class="content">
      {# Anchor links to sections below #}
      {# <div class="">
        <ul class="section-nav">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#preparation">Preparation</a></li>
          <li><a href="#steps">Steps</a></li>
          <li><a href="#outcomes">Outcomes</a></li>
          <li><a href="#resources">Resources</a></li>
          <li><a href="#next-steps">Next Steps</a></li>
          <li><a href="#metadata">References</a></li>
        </ul>
      </div> #}
      <div class="prose">
        {{ resource.overview | safe }}
      </div>
    </div>
  </section>
{% if resource.prepareMethods | length > 0 %}
  <section id="preparation">
    <div class="title">
      <hr />
      <h2>Preparation</h2>
    </div>
    <div class="flow">
      <p>{{ resource.title }} is often more effective when it is informed by these complementary methods.</p>
      <ul class="chips">
        {% for method in resource
          .prepareMethods
          .slice(0, 6) %}
          {% resourceCard method, "chip" %}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
  <section id="network-graph">
    <div class="title">
      <hr />
      <h2>Graph</h2>
    </div>
    <div class="graph no-transition">
      <svg class="network-connections" width="100%" height="100%"></svg>
      <ul class="chips">
        {% for method in resource
          .prepareMethods
          .slice(0, 6) %}
          {% resourceCard method, "chip" %}
        {% endfor %}
        <li class="chip this" data-slug="{{ resource.slug }}">
          <a href="{{ resource.uri }}">
            <h3>{{ resource.title }}</h3>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="steps">
    <div class="grid">
      <div class="title">
        <hr class="--border-strong" />
        <h2>Steps</h2>
      </div>
      <div class="content">
        <span>
        {{ resource.steps | safe }}
        </span>
      </div>
    </div>
  </section>
  <section id="outcomes">
      <div class="title">
        <hr />
        <h2>Outcomes</h2>
      </div>
      <div class="content">
        <p>{{ resource.title }} typically produces insight and solutions focused on these areas:</p>
        <ul>
        {% for outcome in resource.outcomes %}
          <li>
            <p>{{ outcome.prefLabel }}</p>
            <p class="--font-emphasis --mt-0">{{ outcome.definition }}</p>
          </li>
        {% endfor %}
      </ul>
  </section>
{% if resource.resources | length > 0 %}
  <section id="resources">
    <div class="title">
      <hr />
      <h2>Resources</h2>
    </div>
    <div class="content">
      <ul>
        {% for resource in resource
          .resources
          .slice(0, 6) %}
          {% resourceCardExt resource%}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
{% if resource.continueMethods | length > 0 %}
  <section id="next-steps">
    <div class="title">
      <hr />
      <h2>Next Steps</h2>
    </div>
    <div class="grid-content">
      <ul class="cards">
        {% for method in resource
          .continueMethods
          .slice(0, 6) %}
          {% resourceCard method, "full-card" %}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
  <section id="metadata">
    <div class="grid-title">
      <hr class="--border-muted"/>
      <h3>References</h3>
    </div>
    <div class="content">
      {% if resource.stepSources %}
        <ol>
        {% for citation in resource.stepSources %}
          <li class="source-citation">
            <a href="{{ citation.source }}">{{ citation.name }}</a>
          </li>
        {% endfor %}
        </ol>
      {% endif %}
    </div>
    <p class="caption datestamp">{{resource.title}} method details last edited on {{ resource.dateStamps.revisedAt | default(resource.dateStamps.createdAt) }}</p>
  </section>
</article>