---
import '@styles/footer.css'
import PortableText from '@components/PortableText.astro'
import type { PortableTextBlock } from 'sanity'
// import type { FooterData } from '../types/footer'
import Bluesky from '@assets/icons/bluesky.svg'
import LinkedIn from '@assets/icons/linkedIn.svg'
import CreativeCommons from '@assets/icons/creativeCommons.svg'

export type FooterData = {
  overview: PortableTextBlock[]
  colophon: PortableTextBlock[]
  credits?: PortableTextBlock[][]
}

interface Props {
  data: FooterData
}

const {
  data: {overview, colophon, credits},
} = Astro.props
---

<footer>
  <!-- <pre>{JSON.stringify(footer, null, 2)}</pre> -->
  <section>
    <div class="overview">
      <h1>UX Methods</h1>
      <PortableText portableText={overview} />
    </div>
    <div class="social">
      <h1>Share This Project</h1>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.uxmethods.org/"
        target="_blank"
        rel="noopener"
        aria-label="LinkedIn" >
        <LinkedIn />
      </a>
      <a
        href="https://bsky.app/intent/compose?url=https://www.uxmethods.org/&text=UX%20Methods%20is%20a%20community%20powered,%20linked%20data%20driven%20knowledge%20graph%20for%20learning%20about%20the%20techniques%20of%20user%20experience%20design."
        target="_blank"
        rel="noopener"
        aria-label="BlueSky" >
        <Bluesky />
      </a>
    </div>
    <div class="colophon">
      <h1>Colophon</h1>
      <PortableText portableText={colophon} />
    </div>
    <div class="credit">
      {credits?.map((credit) => <PortableText portableText={credit} />)}
      <CreativeCommons />
    </div>
  </section>
</footer>
