---
import {Font} from 'astro:assets'

const {pageTitle} = Astro.props
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle && pageTitle + ' | '} UX Methods | Astro</title>
  <slot name="json-ld" />
  <script src="../scripts/header.js"></script>
  <Font cssVariable="--header" preload />
  <Font cssVariable="--body" preload />
</head>
