@import '_reset.css';
@import '_photoswipe.css';
@import '_theme.css';

#page {
	padding: 0 var(--spacing-lg);
}

hr {
	max-width: var(--spacing-width-md);
	margin: var(--spacing-lg) auto;
}

footer {
	border-top: 1px solid var(--border-muted);
	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-2xl);
	margin-top: var(--spacing-2xl);
}

footer p {
	font-size: var(--font-sm);
	color: var(--text-muted);	
}

footer {
	border-top: 1px solid var(--border-muted);
	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-2xl);
	margin-top: var(--spacing-2xl);
}

footer p {
	font-size: var(--font-sm);
	color: var(--text-muted);	
}

article>*+*

[id] {
	scroll-margin-top: var(--spacing-lg);
}

/* Spaces subsequent children apart */
.flow>*+* {
	margin-top: var(--spacing-lg);
}

.discipline a {
	background: var(--bg-muted);
	display: flex;
	width:auto;
	padding:var(--spacing-sm);
	text-decoration: none;
}

.discipline a:hover {
	background: var(--bg-strong);
}
	
input {
	accent-color: oklch(from var(--color-base) 50% calc(var(--chroma) + 0.05) var(--hue));
}

.theme-control {
	position: fixed;
	top: 80px;
	right: 0;
}

/* TODO need to make these change with light dark mode */

section.boxed {
	padding: var(--spacing-sm) var(--spacing-md);
}

section.preparation {
	background: var(--color-prep);
	color: oklch(from var(--color-base) 5% c calc(var(--hue) - 90));
}

section.steps {
	background: var(--color-steps);
}

section.outcomes {
	background: var(--color-outcomes);
}

section.resources {
	background: var(--bg-strong);
}

section.next-steps {
	background: var(--bg-muted);
}

section.references {
	background: var(--bg-muted);
}

/* Buttons */
/* The colors for these need to be abstracted a bit to be more adaptable between dark and light mode */

.button {
	cursor: pointer;
	display: inline-flex;
	background: var(--text-strong);
	color: var(--bg-strong);
	font-size: var(--font-sm);
	padding: var(--spacing-sm) var(--spacing-lg);
	border-radius: var(--spacing-2xl);
}

.button:hover {
	filter: brightness(90%);
}

@media (prefers-color-scheme: dark) {
	.button:hover {
		filter: brightness(120%);
	}
}

.button.--sm {
	font-size: var(--font-sm);
	padding: var(--spacing-xs) var(--spacing-md);
}

.button.--lg {
	font-size: var(--font-lg);
	padding: var(--spacing-sm) var(--spacing-lg);
}

/* --primary colors won't change between dark and light mode */
/*  */
.button.--strong {
	background: var(--primary-500);
	color: var(--primary-50);
}

.button.--muted {
	background: var(--bg-default);
	color: var(--text-default);
	border: 1px solid var(--border-muted);
}

.button.--error {
	background: var(--bg-default);
	color: var(--text-interactive);
	border: 1px solid var(--border-muted);
}

.button.--disabled {
	cursor: not-allowed;
	background: var(--bg-muted);
	color: var(--text-muted);
	filter: none;
}

.card {
	cursor: pointer;
	display: flex;
	background: var(--bg-strong);
	box-shadow: var(--shadow-md);
	border-radius: var(--spacing-xs);
}

.card:hover {
	filter: contrast(110%);
	filter: brightness(110%);
}

.container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


/* Network */

#network-graph {
    width: 100%;
    aspect-ratio: 4/3;
    border: 1px solid var(--border-muted);;
    margin: 2rem 0;
}

#network-graph .node {
    cursor: pointer;
}

#network-graph .node-discipline {
    fill: var(--primary-500);
    r: 24;
}

#network-graph .node-method {
    stroke: var(--primary-500);
    r: 8;
}

#network-graph .node:hover {
	outline: 1px solid var(--primary-500);
}

#network-graph .link {
    stroke: var(--border-default);
    stroke-opacity: 0.6;
}

#network-graph .node-label {
	fill: var(--text-muted);
    pointer-events: none;
	font-size: var(--font-sm);
    transform: translate(12px, 4px);
}

.tooltip {
    position: absolute;
    padding: 8px;
    background: var(--primary-500);;
    color: white;
    border-radius: 4px;
    pointer-events: none;
    display: none;
}