---
layout: base.njk
---

<nav class="main-nav container --w-full">
  <div class="container --w-lg">
    <ul class="nav-items">
      <li class="nav-item --first">
        <a class="nav-item-content" href="#">
          <strong>UX Methods</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-content" href="#">
          Methods
        </a>
      </li>
      <li class="nav-item --active">
        <a class="nav-item-content" href="#">
          Disciplines
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-content" href="#">
          Outcomes
        </a>
      </li>
      <li class="nav-item --last">
        <a class="nav-item-content" href="#">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>

  <div class="fancy container --rounded-md --w-lg">
  <div class="container --w-md --py-2xl">
    <div class="--w-md">
      <h1 class="hero">Growing Information Architecture Communities</h1>
      <h2>Since 2012</h2>
      <p class="--pt-md">World Information Architecture Association (WIAA) hosts World IA Day, the one-day annual celebration held in dozens of locations across the globe. <a href="#">Learn about WIAA</a></p>
    </div>
  </div>
</div>
  <div class="container flow --w-md --pb-xl">
    <hr />
    <ul>
      <li><a href="#">Donate</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Driving Principles</a></li>
      <li><a href="#">Newsletter</a></li>
    </ul>
    <div class="container --w-md">
      <p class="--text-muted --text-sm">© 2024 World IA Day, Inc., is a nonprofit, tax-exempt charitable organization (tax ID number 84-3158026) under Section 501(c)(3) of the United States Internal Revenue Code. Donations are tax-deductible as allowed by law.</p>

      <p class="--text-muted --text-sm"><a href="#">Accessibility Statement</a>, <a href="#">Code of Conduct</a>, <a href="#">Privacy</a>.
    </div>
  </div>

  <div class="--py-md">
  <div class="inverted container --w-lg --bg-muted --rounded-md --py-xl --px-lg">
   <div class="container --w-md">
    <p class="hero">Talks</p>
    <p class="--text-lg --font-serif">This content is available to everyone as a result of our annual celebration and we invite conversation around the work we are doing.</p>
    <div class="--pt-md --text-lg">
      <a href="#">Learn about WIAA</a>
    </div>
   </div>
  </div>
</div>

  <div class="container --w-md --py-xl">
  <h2>20 Ways to Say No</h2>
  <p class="--text-lg --font-serif --font-emphasis">by Andrea Neuhoff</p>
</div>

  <div class="container --w-lg">
  <img class="" src="https://unsplash.it/1200/800" />
  <span class="caption">This is a short description of the above image. Its some pebbled in some sand right now.</span>
</div>

  <div class="container --w-md --py-2xl">
  <h2>What is it?</h2>
  <p class="--text-lg --font-serif --leading-tight">Campfire is an installable, self-hosted group chat system. Easily invite people. Make rooms. @mentions, DMs, and mobile support. The basics done right. And since you get the code and host it yourself, you can customize it however you’d like for your own use. Plus, you own your data.</p>
  <div class="--py-md --text-lg">
    <a href="#">Learn about WIAA</a>
  </div>
</div>

  <div class="container --w-lg">
  <img class="--shadow-lg --rounded-md" src="https://unsplash.it/1200/800" />
  <span class="caption">This is a short description of the above image. Its some pebbled in some sand right now.</span>
</div>

  <div class="container --w-md">
    <h2 class="--py-md">WIAA News and Updates</h2>
    <div class="">
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">Seeking Global Executive Producer for World Information Architecture Day 2025</a></div>
          <div class="--text-muted --text-sm"><span class="">April 26, 2024</span></div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">2023 State of Information Architecture Report</a></div>
          <div class="--text-muted --text-sm"><span class="">March 2, 2024</span></div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">World Information Architecture Association Seeking Co-President</a></div>
          <div class="--text-muted --text-sm"><span class="">February 28, 2024</span></div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">Thank you Andrea for four-years co-presidency! Now, what’s next?</a></div>
          <div class="--text-muted --text-sm">February 15, 2024</div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">Project Proposal for a New World Information Architecture Website</a></div>
          <div class="--text-muted --text-sm">February 14, 2024</div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">World Information Architecture Day 2024 on CONTEXT</a></div>
          <div class="--text-muted --text-sm">July 10, 2023</div>
        </div>
        <div class="--pb-md">
          <div class="--font-serif"><a href="#">Introducing… the new World Information Architecture Association</a></div>
          <div class="--text-muted --text-sm">December 8, 2021</div>
        </div>
      </div>
    </div>

  <div class="container --w-md --py-xl">
    <h2 class="--py-md">Featured Talks</h2>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Harnessing the Power of Synergy: GIS, Information Architecture, and UX in Los Angeles</a></div>
        <span class="--text-muted --text-sm">Richard Caballero</span>
        <div class="--text-muted --text-sm">Los Angeles</div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Understanding People, Place, and Planet through Location Intelligence and Geography</a></div>
        <span class="--text-muted --text-sm">Sheridan Moore</span>
        <div class="--text-muted --text-sm">Los Angeles</div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Architecting Interactions: Interactions are the Seeds of Innovation</a></div>
        <span class="--text-muted --text-sm">Stephanie Akkaoui Hughes</span>
        <div class="--text-muted --text-sm">Zürich</div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">IA, the Current and the Future</a></div>
        <span class="--text-muted --text-sm">Mike Doane, Andy Fitzgerald, Dr. Ali Mokdad</span>
        <div class="--text-muted --text-sm">Seattle</div>
        <div class="session-topics">
          <ul>
            <li><a class="--text-muted --text-sm" href="#" hreflang="en">Information Architecture</a></li>
          </ul>
        </div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Systems Thinking in Practice</a></div>
        <span class="--text-muted --text-sm">Bryn Ray</span>
        <div class="--text-muted --text-sm">London</div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Computational Gastronomy: Data Science Approach to Food</a></div>
        <span class="--text-muted --text-sm">Ganesh Bagler</span>
        <div class="--text-muted --text-sm">New Delhi</div>
        <div class="session-topics">
          <ul>
            <li><a class="--text-muted --text-sm" href="#" hreflang="en">Data Science</a></li>
          </ul>
        </div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Making Places. Information Architecture in a Post-Digital World.</a></div>
        <span class="--text-muted --text-sm">Andrea Resmini</span>
        <div class="--text-muted --text-sm">Zürich</div>
        <div class="session-topics">
          <ul>
            <li><a class="--text-muted --text-sm" href="#" hreflang="en">Information Architecture</a></li>
          </ul>
        </div>
      </div>
      <div class="--pb-md">
        <div class="--font-serif"><a href="#" hreflang="en">Visual vocabulary to visual language: what comics can teach information architecture</a></div>
        <span class="--text-muted --text-sm">Stuart Curran</span>
        <div class="--text-muted --text-sm">Manchester</div>
      </div>
    </div>

  <div class="container flow --w-md --py-xl">
  <div>
    <p class="--text-muted">Songs</p>
    <h1 class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
    </h1>
    <p class="--text-muted --font-serif">+ Chit-Chat Check-In #88: One of the Main Reasons I Write Songs</p>
  </div>

  <div class="card">
    <div class="--py-lg --px-lg">
      <p class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
      </p>
    </div>
  </div>

  <div class="card">
    <div class="--py-md --px-md">
      <p>Middle</p>
    </div>
  </div>

  <div class="card">
    <div class="--py-sm --px-sm">
      <p class="--text-sm">Low</p>
    </div>
  </div>

  <div class="button --strong">
    <strong>Strong</strong>
  </div>

  <div class="button --default">
    Default
  </div>

  <div class="button --muted">
    Muted
  </div>

  <div class="button --error">
    Error
  </div>

  <div class="button --disabled">
    Disabled
  </div>

</div>

  <div class="container --w-xl --pb-xl">
  <img src="https://unsplash.it/1200/800" />
  <span class="caption">This is a short description of the above image. Its some pebbled in some sand right now.</span>
</div>

  <div class="container --font-serif --text-lg --w-md">
<p>abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmn</p>
  <p>In today's digital age, the lean web philosophy emphasizes simplicity and efficiency in web development. It challenges the prevailing trend of bloated websites filled with excessive features and heavy frameworks. By stripping down to the essentials, the lean web aims to deliver faster, more accessible, and user-friendly experiences. This approach not only benefits users with faster load times and smoother interactions but also reduces server load and bandwidth consumption, making it a win-win for both developers and users.</p>

  <h2>Test Headline</h2>
  <h3>Test Subheadline</h3>
  <h4>Test H4 Subsubheadline</h4>
  <h5>Test H5 Subsubheadline</h5>
  <h6>Test H6 Subsubheadline</h6>

  <p><em>Those last three should all look the same</em></p>

  <p>One of the core principles of the lean web is minimalism. This doesn't mean sacrificing functionality or aesthetics but rather focusing on what truly matters. Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary. This not only makes the codebase more maintainable but also enhances the performance and security of the website.</p>



  <p><strong>Accessibility is another critical aspect</strong> of the lean web. By adhering to web standards and best practices, lean web development ensures that websites are accessible to a broader audience, including those with disabilities or using older devices. This inclusivity aligns with the original vision of the web as a universal platform, where information and services are available to all, regardless of their technical capabilities or resources.</p>

  <p><em>Performance is a significant concern for modern web users, and the lean web addresses this directly.</em> Fast-loading pages are crucial for retaining visitors and improving search engine rankings. By optimizing images, leveraging browser caching, and minimizing HTTP requests, lean web development can significantly enhance page load times. Moreover, it encourages the use of progressive enhancement techniques, ensuring that core content and functionality are available even under less-than-ideal network conditions.</p>

  <aside>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions.</aside>

  <p>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions. In an era where environmental concerns are increasingly paramount, adopting lean web practices can be a small but meaningful step towards more sustainable web development. This not only helps the planet but also aligns with the growing consumer demand for more eco-friendly products and services.</p>

  <blockquote>Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary.</blockquote>
</div>

  <div class="container --w-full --py-lg">
  <img src="https://unsplash.it/1200/800" />
  <span class="caption">A serene sunset bathes the quiet beach in warm hues, as waves gently lap at the shore. Silhouetted palm trees sway softly in the evening breeze, framing the tranquil scene.</span>
</div>

  <hr />
</div>