:root {
	/* _theme.css sets up some utility classes - fonts, sizing, spacing, color palettes, and elevations. */


	/* Font Family */
	--font-display: var(--font-serif);
	--font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	/* Font Size */
	--font-2xl: clamp(2rem, 0.313rem + 4.688vw, 2.75rem);
	--font-xl: clamp(20px, -0.75rem + 5vw, 28px);
	--font-lg: clamp(18px, -0.75rem + 5vw, 24px);
	--font-md: 16px;
	--font-sm: 14px;
	--font-xs: 11px;

	/* Spacing */
	/* Fluid spacing scale based on view width, from 16px to 24px */
	/* Fluid spacing scale based on view width, from 16px to 24px */
	--spacing: clamp(16px, -0.75rem + 5vw, 24px);
	--spacing-xs: calc(0.25 * var(--spacing));
	--spacing-sm: calc(0.5 * var(--spacing));
	--spacing-md: var(--spacing);
	--spacing-lg: calc(1.5 * var(--spacing));
	--spacing-xl: calc(2.5 * var(--spacing));
	--spacing-2xl: calc(5 * var(--spacing));
	--spacing-width-xs: 16rem;
	--spacing-width-md: 39rem;
	--spacing-width-xl: 65rem;

	/* Light Elevation */
	--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 0.5);
	--shadow-md: 0px 8px 12px -16px rgba(0, 0, 0, 0.5);
	--shadow-lg: 0px 16px 24px -16px rgba(0, 0, 0, 0.2);
}

/* Light color theme is the default, so we set it on :root. The utility class .theme-default will reset to the default theme when nested inside another themed element. */

:root, .theme-default {
	/* Neutral color LCH values */
	--lightness: 80%;
	--chroma: 0.035;
	--hue: 60;

	/* Base Color */
	--color-base: oklch(var(--lightness) var(--chroma) var(--hue));
	--color-prep: color-mix(in srgb, var(--color-base) 50%, rgb(255, 177, 177) 50%);
	--color-steps: color-mix(in srgb, var(--color-base) 50%, rgb(130, 255, 130) 50%);
	--color-outcomes: color-mix(in srgb, var(--color-base) 50%, rgb(132, 132, 255) 50%);

	/* Relative color definitions */
	--bg-strong: lch(from var(--color-base) 100% c var(--hue));
	--bg-default: lch(from var(--color-base) 90% c var(--hue));
	--bg-muted: lch(from var(--color-base) 80% c var(--hue));
	--bg-selection: lch(from var(--color-base) 75% c var(--hue));
	/* Neutral color LCH values */
	--lightness: 80%;
	--chroma: 0.035;
	--hue: 60;

	/* Base Color */
	--color-base: oklch(var(--lightness) var(--chroma) var(--hue));
	--color-prep: color-mix(in srgb, var(--color-base) 50%, rgb(255, 177, 177) 50%);
	--color-steps: color-mix(in srgb, var(--color-base) 50%, rgb(130, 255, 130) 50%);
	--color-outcomes: color-mix(in srgb, var(--color-base) 50%, rgb(132, 132, 255) 50%);

	/* Relative color definitions */
	--bg-strong: lch(from var(--color-base) 100% c var(--hue));
	--bg-default: lch(from var(--color-base) 90% c var(--hue));
	--bg-muted: lch(from var(--color-base) 80% c var(--hue));
	--bg-selection: lch(from var(--color-base) 75% c var(--hue));
	
	--text-strong: lch(from var(--color-base) 10% c var(--hue));
	--text-default: lch(from var(--color-base) 20% c var(--hue));
	--text-muted: lch(from var(--color-base) 40% c var(--hue));
	--text-interactive: lch(from var(--color-base) 5% c var(--hue));
	--text-strong: lch(from var(--color-base) 10% c var(--hue));
	--text-default: lch(from var(--color-base) 20% c var(--hue));
	--text-muted: lch(from var(--color-base) 40% c var(--hue));
	--text-interactive: lch(from var(--color-base) 5% c var(--hue));
	
	--border-strong: lch(from var(--color-base) 40% c var(--hue));
	--border-default: lch(from var(--color-base) 60% c var(--hue));
	--border-muted: lch(from var(--color-base) 80% c var(--hue));

	background: var(--bg-default);
	color: var(--text-default);
	--border-strong: lch(from var(--color-base) 40% c var(--hue));
	--border-default: lch(from var(--color-base) 60% c var(--hue));
	--border-muted: lch(from var(--color-base) 80% c var(--hue));

	background: var(--bg-default);
	color: var(--text-default);
}

@media (prefers-color-scheme: dark) {
	:root, .theme-default {

		--bg-strong: lch(from var(--color-base) 0% c var(--hue));
		--bg-default: lch(from var(--color-base) 10% c var(--hue));
		--bg-muted: lch(from var(--color-base) 70% c var(--hue));
		--bg-selection: lch(from var(--color-base) 25% c var(--hue));
		
		--text-strong: lch(from var(--color-base) 90% c var(--hue));
		--text-default: lch(from var(--color-base) 80% c var(--hue));
		--text-muted: lch(from var(--color-base) 60% c var(--hue));
		--text-interactive: lch(from var(--color-base) 95% c var(--hue));
		
		--border-strong: lch(from var(--color-base) 20% c var(--hue));
		--border-default: lch(from var(--color-base) 60% c var(--hue));
		--border-muted: lch(from var(--color-base) 20% c var(--hue));

		--bg-strong: lch(from var(--color-base) 0% c var(--hue));
		--bg-default: lch(from var(--color-base) 10% c var(--hue));
		--bg-muted: lch(from var(--color-base) 70% c var(--hue));
		--bg-selection: lch(from var(--color-base) 25% c var(--hue));
		
		--text-strong: lch(from var(--color-base) 90% c var(--hue));
		--text-default: lch(from var(--color-base) 80% c var(--hue));
		--text-muted: lch(from var(--color-base) 60% c var(--hue));
		--text-interactive: lch(from var(--color-base) 95% c var(--hue));
		
		--border-strong: lch(from var(--color-base) 20% c var(--hue));
		--border-default: lch(from var(--color-base) 60% c var(--hue));
		--border-muted: lch(from var(--color-base) 20% c var(--hue));
		/* Dark Elevation */
		--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 0.5);
		--shadow-md: 0px 12px 16px -18px rgba(0, 0, 0, 0.2);
		--shadow-lg: 0px 24px 40px -24px rgba(0, 0, 0, 0.2);
	}
}

html {

}

html {

}

body {
	font-family: var(--font-sans);
	font-size: var(--font-md);
	line-height: 1.45;
	font-weight: 500;
}

::selection {
	background-color: var(--bg-selection);
	color: var(--text-strong);
	mix-blend-mode: multiply2;
}

img {
	width: 100%;
	max-width: 100%;
	display: flex;
	background: var(--bg-muted);
}

a {
	color: var(--text-interactive);
	text-decoration: underline;
	text-decoration-color: var(--border-default);
	text-underline-offset: 0.125em;
	transition: color, opacity, text-decoration, text-decoration-color 67ms ease-in-out;
}

a:hover {
	color: var(--text-interactive);
	text-decoration-color: var(--text-interactive);
	opacity: 1;
}

h1 {
	font-family: var(--font-sans);
	font-size: var(--font-2xl);
	color: var(--text-strong);
	font-weight: 700;
	font-variation-settings: "wght" 700;
}

h2 {
	font-family: var(--font-sans);
	font-size: var(--font-lg);
	color: var(--text-default);
	font-weight: 700;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.02em);
	margin-bottom: var(--spacing-sm);
	border-top:1px solid var(--border-muted)
}

h3 {
	font-family: var(--font-sans);
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 500;
}

h4,
h5,
h6 {
	font-family: var(--font-sans);
	font-size: var(--font-sm);
	color: var(--text-muted);
	font-weight: 500;
}

p {
	color: var(--text-default);
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: clamp(-0.02em, 1vw + 1rem, -0.02em);
}

p+p:not(.label) {
	margin-top: var(--spacing-sm);
}

p a {
	display: inline-block;
}

blockquote {
	font-size: var(--font-lg);
	color: var(--text-strong);
	border-left: 1px solid var(--border-default);
	padding-left: var(--spacing-md);
	margin: var(--spacing-md) auto;
	line-height: 1.3;
}

strong,
.--font-strong {
	font-weight: 800;
}

em,
.--font-emphasis {
	font-style: italic;
}

aside {
	font-size: var(--font-md);
	color: var(--text-default);
	border-left: 1px solid var(--border-default);
	padding-left: var(--spacing-md);
	margin: var(--spacing-md) 0;
	font-style: italic;
}

.caption {
	display: block;
	font-size: var(--font-sm);
	color: var(--text-muted);
	padding-top: var(--spacing-xs);
	max-width: var(--spacing-width-md);
	margin: 0 auto;
}

/* Font Family */

ol li:not(:last-child) {
	margin-bottom: var(--spacing-sm);
}

blockquote {
	font-size: var(--font-lg);
	color: var(--text-strong);
	border-left: 1px solid var(--border-default);
	padding-left: var(--spacing-md);
	margin: var(--spacing-md) auto;
	line-height: 1.3;
}

strong,
.--font-strong {
	font-weight: 800;
}

em,
.--font-emphasis {
	font-style: italic;
}

aside {
	font-size: var(--font-md);
	color: var(--text-default);
	border-left: 1px solid var(--border-default);
	padding-left: var(--spacing-md);
	margin: var(--spacing-md) 0;
	font-style: italic;
}

.caption {
	display: block;
	font-size: var(--font-sm);
	color: var(--text-muted);
	padding-top: var(--spacing-xs);
	max-width: var(--spacing-width-md);
	margin: 0 auto;
}

/* Font Family */

.--font-sans,
.--font-default {
	font-family: var(--font-sans);
}

.--font-serif,
.--font-alternate {
	font-family: var(--font-serif);
}

/* Text Size */

.--text-sm {
	font-size: var(--font-sm);
	line-height: 125%;
}

.--text-md {
	font-size: var(--font-md);
	line-height: 125%;
}

.--text-lg {
	font-size: var(--font-lg);
	line-height: 125%;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.06em);
}

.--text-xl {
	font-size: var(--font-xl);
	line-height: 125%;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.03em);
}

/* Text Color */

.--text-muted {
	color: var(--text-muted);
}

.--text-muted a {
	opacity: 0.75;
}

.--text-default {
	color: var(--text-default);
}

.--text-strong {
	color: var(--text-strong);
}

.--text-interactive {
	color: var(--text-interactive);
}

/* Line Height */

.--leading-none {
	line-height: 1;
}

.--leading-tight {
	line-height: 1.25;
}

.--leading-default {
	line-height: 1.45;
}

.--leading-loose {
	line-height: 1.65;
}

/* Background Color */

.--bg-muted {
	background-color: var(--bg-muted);
}

.--bg-default {
	background-color: var(--bg-default);
}

.--bg-strong {
	background-color: var(--bg-strong);
}

/* Border */

hr,
.rule {
	border: 1px double var(--border-muted);
	/* For retina screens */
	transform: scaleY(0.5);
}

.--border-muted {
	border-color: var(--border-muted);
}

.--border-default {
	border-color: var(--border-default);
}

.--border-strong {
	border-color: var(--border-strong);
}

/* Shadow */

.--shadow-sm {
	box-shadow: var(--shadow-sm);
}

.--shadow-md {
	box-shadow: var(--shadow-md);
}

.--shadow-lg {
	box-shadow: var(--shadow-lg);
}

/* Rounded */

.--rounded-sm {
	border-radius: var(--spacing-xs);
}

.--rounded-md {
	border-radius: var(--spacing-sm);
}

.--rounded-lg {
	border-radius: var(--spacing-md);
}

/* Layout */

.--w-xs {
	max-width: var(--spacing-width-xs, 20rem);
}

.--w-md {
	max-width: var(--spacing-width-md, 40rem);
}

.--w-xl {
	max-width: var(--spacing-width-xl, 50rem);
}

/* Left and right margin value should match padding on #page */
/* This class must be paired with container because of the use of !important */
.container.--w-full {
	width: auto;
	margin-left: calc(-1 * var(--spacing-lg)) !important;
	margin-right: calc(-1 * var(--spacing-lg)) !important;
}

/* Padding is used for utility spacing instead of margin because it doesn't interfere with auto margins, which are used in other layout classes.*/

/* Padding Top */
.--pt-xs {
	padding-top: var(--spacing-xs);
}

.--pt-sm {
	padding-top: var(--spacing-sm);
}

.--pt-md {
	padding-top: var(--spacing-md);
}

.--pt-lg {
	padding-top: var(--spacing-lg);
}

.--pt-xl {
	padding-top: var(--spacing-xl);
}

.--pt-2xl {
	padding-top: var(--spacing-2xl);
}

/* Padding Right */
.--pr-xs {
	padding-right: var(--spacing-xs);
}

.--pr-sm {
	padding-right: var(--spacing-sm);
}

.--pr-md {
	padding-right: var(--spacing-md);
}

.--pr-lg {
	padding-right: var(--spacing-lg);
}

.--pr-xl {
	padding-right: var(--spacing-xl);
}

.--pr-2xl {
	padding-right: var(--spacing-2xl);
}

/* Padding Bottom */
.--pb-xs {
	padding-bottom: var(--spacing-xs);
}

.--pb-sm {
	padding-bottom: var(--spacing-sm);
}

.--pb-md {
	padding-bottom: var(--spacing-md);
}

.--pb-lg {
	padding-bottom: var(--spacing-lg);
}

.--pb-xl {
	padding-bottom: var(--spacing-xl);
}

.--pb-2xl {
	padding-bottom: var(--spacing-2xl);
}

/* Padding Left */
.--pl-xs {
	padding-left: var(--spacing-xs);
}

.--pl-sm {
	padding-left: var(--spacing-sm);
}

.--pl-md {
	padding-left: var(--spacing-md);
}

.--pl-lg {
	padding-left: var(--spacing-lg);
}

.--pl-xl {
	padding-left: var(--spacing-xl);
}

.--pl-2xl {
	padding-left: var(--spacing-2xl);
}

/* Padding X (left and right) */
.--px-xs {
	padding-left: var(--spacing-xs);
	padding-right: var(--spacing-xs);
}

.--px-sm {
	padding-left: var(--spacing-sm);
	padding-right: var(--spacing-sm);
}

.--px-md {
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
}

.--px-lg {
	padding-left: var(--spacing-lg);
	padding-right: var(--spacing-lg);
}

.--px-xl {
	padding-left: var(--spacing-xl);
	padding-right: var(--spacing-xl);
}

.--px-2xl {
	padding-left: var(--spacing-2xl);
	padding-right: var(--spacing-2xl);
}

/* Padding Y (top and bottom) */
.--py-xs {
	padding-bottom: var(--spacing-xs);
	padding-top: var(--spacing-xs);
}

.--py-sm {
	padding-bottom: var(--spacing-sm);
	padding-top: var(--spacing-sm);
}

.--py-md {
	padding-bottom: var(--spacing-md);
	padding-top: var(--spacing-md);
}

.--py-lg {
	padding-bottom: var(--spacing-lg);
	padding-top: var(--spacing-lg);
}

.--py-xl {
	padding-bottom: var(--spacing-xl);
	padding-top: var(--spacing-xl);
}

.--py-2xl {
	padding-bottom: var(--spacing-2xl);
	padding-top: var(--spacing-2xl);
}