@import '../../style/variables.scss',
        '../../style/mixins.scss',
        './card.scss';

li.card {
  min-height: 6rem;
  a {
    display: flex;
    height: 100%;
    flex-direction: row;
    max-width: $card-max;
  }
  img {
    width: 30%;
    border-radius: 5px 0 0 5px;
  }
  div {
    padding: .5rem;
    width: 70%;
    p {
      line-height: 1.33;
      margin: .1rem 0 0 0;
      @include breakpoint(med-lg) {
        font-size: 90%;
      }
    }
  }
}
li.dark {
  div {
    padding-left: .75rem;
  }
}
.resource {
  h3 {
    font-size: 1rem;
    line-height: 1.25;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    svg {
      position: relative;
      top: 2px;
      margin-left: .5rem;
    }
  }
}
