@import '../../style/variables.scss',
        '../../style/mixins.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax($card-min,3fr));
  grid-gap: 2rem;
  padding: 0;
  a {
    color: $text;
    text-decoration: none;
  }
}
.dark {
  @include breakpoint(medium) {
    grid-row-gap: 3rem;
    grid-column-gap: 3.5rem;
  }
}
