@import './variables.scss';
@import './normalize.scss';

body {
  height: 100%; // needed for off-canvas? Or short pages?
  font-family: $body;
  font-size: 18px;
  color: $card-background;
}

h1, h2, h3, h4, h4 {
  font-family: $header;
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}

h3 {
  font-size: 1.1rem;
}

p {
  line-height: 1.5;
}
.dropdown-toggle {
  & svg {
    transform: rotate(0deg);
    transition: transform .25s ease-in; // closing transition
  }
  + ul {
      max-height: 0px;
      transition: .25s ease-in; // closing transition
  }
}
.dropdown-toggle.show {
  & svg {
    transform: rotate(180deg);
    transition: transform .25s ease-in; // opening transition
  }
  & + ul {
      max-height: 250px;
      transition: max-height .25s ease-in; // opening transition
  }
}
