@import './variables.scss';
@import './normalize.scss';
@import './mixins.scss';

body {
  font-family: $body;
  font-size: 18px;
}
main {
  padding-top: 60px; // leaves room for the header
  @include breakpoint(med-lg) {
    padding-top: 110px;
  }
}
article,
section.resource-cards,
section.search,
footer > section {
  margin: 0 auto;
  max-width: $max-width;
}
h1, h2, h3, h4, h4 {
  font-family: $header;
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}
h3 {
  font-size: 1.1rem;
}
p {
  line-height: 1.5;
}
a, a:visited {
  color: $text;
  transition: color 0.25s ease-out;
  text-decoration: underline;
}
a:hover {
  color: $primary-text-link;
  transition: color 0.25s ease-out;
}

// Naviagation Styles
.dropdown-toggle {
  & svg {
    transform: rotate(0deg);
    transition: transform .25s ease-in; // closing transition
  }
  + ul {
      max-height: 0px;
      transition: max-height .25s ease-in; // closing transition
  }
}
.dropdown-toggle.show {
  & svg {
    transform: rotate(180deg);
    transition: transform .25s ease-in; // opening transition
  }
  & + ul {
      max-height: 400px;
      transition: max-height .25s ease-in; // opening transition
  }
}
nav ul li.dropdown-toggle ul {
  // display: none; — kills animation. Need to work out another method for not allowing tabbing into hidden
  max-height: 0;
  transition: max-height 0.25s ease-in;
}
nav ul li.dropdown-toggle.show ul {
  // display: list-item;
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

// Home page styles
.index {
  background-color: $dark-background;
  color: $light-text;
  padding-bottom: 6rem;
  @include breakpoint(medium) {
    padding-bottom: 10rem;
  }
  .headline {
    margin-top: 2rem;
    h1 {
      font-size: 2rem;
      text-align: center;
      padding: 1rem 0 3rem;
      @include breakpoint(medium) {
        padding: 2rem 0;
        font-size: 2.75rem;
        font-weight: 600;
      }
    }
    .display {
      display: none;
      margin: 0 auto;
      width: 45rem;
      font-size: 1.25rem;
      text-align: center;
      padding-bottom: 3rem;
      @include breakpoint(med-lg) {
        display: block;
      }
    }
  }
  .resource-cards {
    h2 {
      margin-top: 6rem;
    }
  }
  a {
    color: $light-text;
  }
}
