// UX Methods Sass variables

// Typography
$header: 'Nunito Sans', Arial, sans-serif;
$body: 'Hind', Arial, sans-serif;

// Colors
$dark-background: #151B1E;
$card-background: #182125;
$background: #FFFFFF;
$text: #151B1E;
$light-text: #F9FAFB;
$light-gray-text: #D3DBDF;
$gray-text: #606F76;
$gray-text-dark-bg: #94A2A8;
$primary: #28B7FF;
$primary-dark-bg: #2BB6FC;
$primary-text-link: #0073ad;

// Grid
$max-width: 1140px;
$card-min: 330px; 
$card-max: 375px;

// Breakpoints
$breakpoints: (
  'medium': 600px,
  'med-lg': 800px,
  'large':  1000px,
  'full': 1180px
) !default;
