body {
  font-family: var(--body);
  font-size: 18px;
  /* May need to darken font to ensure contrast w/ smoothing */
  /* -webkit-font-smoothing: antialiased; */
}
main {
  @media (min-width: 800px) {
    padding-top: 50px;
  }
}
article,
section.resource-cards,
section.search,
section.admin-metadata,
footer > section {
  margin: 0 auto;
  max-width: var(--max-width);
}
h1,
h2,
h3,
h4,
h4 {
  font-family: var(--header);
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}
h3 {
  font-size: 1.1rem;
}
p {
  line-height: 1.5;
}
a,
a:visited {
  color: var(--text);
  transition: color 0.25s ease-out;
  text-decoration: underline;
}
a:hover {
  color: var(--primary-text-link);
  transition: color 0.25s ease-out;
}

.resource-cards {
  padding: 1rem 1rem 4rem;
}

/* Card grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min), 3fr));
  grid-gap: 2rem;
  padding: 0;
  a {
    color: var(--text);
    text-decoration: none;
  }
}