main {
  background-color: var(--dark-background);
  color: var(--light-text);
  -webkit-font-smoothing: antialiased;
  padding-bottom: 6rem;
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (min-width: 600px) {
    padding-bottom: 10rem;
  }
  .headline {
    padding-top: 2rem;
    h1 {
      font-size: 2rem;
      text-align: center;
      padding: 1rem 0 3rem;
      @media (min-width: 600px) {
        padding: 2rem 0;
        font-size: 2.75rem;
        font-weight: 600;
      }
    }
    .display {
      display: none;
      margin: 0 auto;
      width: 45rem;
      font-size: 1.25rem;
      text-align: center;
      padding-bottom: 3rem;
      @media (min-width: 800px) {
        display: block;
      }
    }
  }
  .resource-cards {
    padding: 1rem 1rem 3rem;
    header {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 0.5rem;
    }
    h2 {
      margin-top: 6rem;
      font-size: 1.5rem;
      font-weight: 600;
      @media (min-width: 600px) {
        margin-top: 8rem;
        display: inline-block;
      }
    }
    .header-link {
      display: none;
    }
    @media (min-width: 600px) {
      .header-link {
        display: block;
        color: var(--light-text);
      }
    }
  }
  a {
    color: var(--light-text);
  }
}
.admin-metadata {
  font-size: 90%;
  margin-bottom: 0;
  @media (min-width: 1180px) {
    padding: 1rem 0 2rem;
  }
  h2 {
    font-size: 1.5rem;
    border-top: 1px solid var(--light-gray-text);
    padding-top: 0.5rem;
    @media (min-width: 600px) {
      width: 50%;
    }
    @media (min-width: 1000px) {
      width: 33%;
    }
  }
  p {
    padding-top: 1rem;
    font-style: italic;
  }
  li.source-citation {
    @media (min-width: 800px) {
      margin-bottom: 0;
    }
  }
  svg {
    position: relative;
    top: 2px;
    padding-left: 0.25rem;
  }
}
/* Search styles */
section.search {
  padding-top: 3rem;
  margin-bottom: 2rem;

  form {
    @media (min-width: 600px) {
      width: 60%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
    }
  }
  input {
    border: none;
    border-bottom: 2px solid var(--primary);
    background-color: var(--dark-background);
    color: var(--light-text);
    background-image: url('/icons/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 0 2px 40px;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    &::placeholder {
      color: var(--light-gray-text);
      transition: opacity 0.3s;
    }
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 1em;
      width: 1em;
      border-radius: 50em;
      background: url('/icons/close.svg') no-repeat 50% 50%;
      background-size: contain;
      opacity: 0;
      pointer-events: none;
    }
    &[type='search']:focus::-webkit-search-cancel-button {
      opacity: 0.5;
      pointer-events: all;
    }
    @media (min-width: 600px) {
      /* row start / column start / row end / column end */
      grid-area: 1 / 1 / 1 / 5;
    }
  }
  label {
    display: inline-block;
    color: var(--light-gray-text);
    padding: 8px 0 24px;
    font-size: 90%;
    @media (min-width: 600px) {
      grid-area: 2 / 1 / 2 / 5;
    }
  }
  #results-count {
    padding: 1.5rem 0 1rem;
    font-size: 1rem;
    font-weight: 400;
  }
  #search-result-list {
    display: none;
    padding-inline-start: 0;
    width: 90%;
    margin: 1rem auto;
    /* padding: .5rem 5%; */
    padding: 0;
    background-color: var(--card-background);
    @media (min-width: 600px) {
      padding: 0.5rem 2rem;
      width: 80%;
    }
    h3 {
      a {
        text-decoration: underline;
        color: var(--light-text);
      }
      span {
        font-weight: 400;
        color: var(--light-gray-text);
        padding-left: 0.5rem;
        &::before {
          content: ' — ';
          padding-right: 0.5rem;
        }
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      padding-bottom: 1.5rem;
      span {
        font-size: 1rem;
      }
      &.no-results {
        padding: 1.5rem 0;
      }
    }
    .close-icon {
      display: flex;
      justify-content: center;
      padding: 2rem 0 3rem;
      a {
        display: inline-block;
        line-height: 0;
        background: var(--primary-dark-bg);
        padding: 1.5rem;
        border-radius: 100px;
      }
    }
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}