<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>UX Methods V2</title>
	</head>
	<body>
	<h1>UX Methods V2</h1>	
	{{ content | safe }}
	</body>
</html>