<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>UX Methods V2</title>
	</head>
	<body>
	<h1>{{ metadata.title }}</h1>	
	{{ content | safe }}
	<p>Page content from layout via metadata data function:</p>
	<ul>
		<li>{{ metadata.tagline }}</li>
		<li>{{ metadata.description }}</li>
	</ul>
	</body>
</html>