@import '../style/variables.scss';
@import '../style/mixins.scss';

section {
  padding: 1rem;
  @include breakpoint(med-lg) {
    margin-bottom: 2rem;
  }
  &.overview {
    @include breakpoint(med-lg) {
      display: flex;
      flex-wrap: wrap;
    }
    .hero {
      margin: -1rem -1rem 1rem;
      @include breakpoint(med-lg) {
        margin: 1rem 0 0;
        order: 3;
        width: 30%;
      }
      img {
        height: 225px;
        width: 100%;
        object-fit: cover;
        @include breakpoint(med-lg) {
          border-radius: 5px;
        }
      }
      p, a {
        color: $gray-text;
      }
      p {
        text-align: right;
        font-size: 75%;
        margin: -.25rem 1rem .25rem;
        @include breakpoint(med-lg) {
          margin-right: 0;
        }

      }
    }
    .header {
      @include breakpoint(med-lg) {
        order: 1;
        width: 100%;
      }
      h1 {
        font-size: 40px;
        line-height: 48px;
        display: flex;
        flex-direction: column-reverse;
        span:nth-child(2) {
          font-family: $header;
          color: $card-background;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 13px;
          line-height: 1;
          padding-bottom: .5rem;
        }
        &.no-eyebrow {
          padding-top: 1.3rem;
        }
      }
    }
    .description {
      @include breakpoint(med-lg) {
        order: 2;
        width: 70%;
        p {
          padding-right: 2rem;
        }
      }
    }
  &.discipline {
    @include breakpoint(med-lg) {
      align-items: stretch;
    }
    .hero {
      @include breakpoint(med-lg) {
        order: 1;
        width: 50%;
        margin-top: 0;
        height: auto;
        img {
          height: 100%;
        }
      }
      @include breakpoint(large) {
        height: 100%;
        img {
          height: auto;
        }
      }
    }
    .discipline-summary {
        @include breakpoint(med-lg) {
        order: 2;
        width: 45%;
        padding-left: 5%;
        div {
          width: 100%;
          p {
            padding-right: 0;
          }
        }
      }
    }
    .header {
      //width: 50%;
    }
    .description {
      //width: 50%;
    }
  }




  }
  &.details {
    .outcomes {
      ul {
        list-style: none;
        padding-inline-start: 1.3rem;
        p {
          margin-top: 0;
        }
      }
    }
    @include breakpoint(med-lg) {
      display: flex;
      .steps {
        width: 70%;
        ol {
          padding-right: 6rem;
        }
      }
      .outcomes {
        width: 30%;
        ul {
          list-style: none;
          padding-inline-start: 0;
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
  ol {
    padding-left: 1.5rem;
  }
  li {
    margin-bottom: .75rem;
    line-height: 1.5;
  }
}
