@import '../style/variables.scss';
@import '../style/mixins.scss';

footer {
  // height: 200px;
  background-color: $card-background;
  color: $light-text;
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
    row-gap: 1rem;
    @include breakpoint(med-lg) {
      column-gap: 6%;
      row-gap: 1rem;
      padding-top: 60px;
    }
  }
  div {
    @include breakpoint(med-lg) {
      width: 47%;
    }
  }
  a, a:visited {
    color: $light-text;
  }
  a:hover {
    color: $primary-dark-bg;
  }
  .overview {
    @include breakpoint(med-lg) {
      order: 1;
    }
  }
  .social {
    h1 {
      padding-bottom: 1.5rem;
    }
    padding-top: 2rem;
    @include breakpoint(med-lg) {
      order: 3;
      h1 {
        font-size: 1.75rem;
        padding-bottom: 1rem;
      }
    }
    svg {
      width: 3rem;
      height: auto;
      padding-right: 1rem;
    }
  }
  .colophon {
    padding-top: 2.25rem;
    @include breakpoint(med-lg) {
      order: 2;
    }
  }
  .social, .colophon {
    @include breakpoint(med-lg) {
      padding-top: 0;
    }
  }
  .credit {
    @include breakpoint(med-lg) {
      order: 4;
    }
    p {
      margin: .5rem 0;
    }
    p, a, a:visited {
      color: $gray-text-dark-bg;
      font-size: .9rem;
      line-height: 1.25;
    }
    a:hover {
      color: $primary-dark-bg;
    }
    svg {
      margin: 1rem 0;
      width: 100px;
      height: auto;
    }
  }
}
