@import '../style/variables.scss';
@import '../style/mixins.scss';

nav {
  background-color: $card-background;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
  font-size: 1rem;
  ul {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 3rem;
    list-style: none;
    padding-inline-start: 1rem;
    font-family: $header;
    @include breakpoint(large) {
      column-gap: 1.75rem;
    }
  }
  a {
    color: $light-text;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    svg {
      width: 1.25rem;
      height: auto;
    }
  }
  .title {
    font-weight: 800;
    font-size: 1.5rem;
    padding-right: 0;
    @include breakpoint(large) {
      padding-right: 1rem;
    }
  }
  .has-submenu {
    position: relative;
  }
  .has-submenu ul {
    display: list-item;
    background-color: $card-background;
    overflow: hidden;
    height: initial;
    width: 110%;
    position: absolute;
    left: -.25rem;
    line-height: 1.5;
    padding: 0 1rem;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    li {
      padding-bottom: 1rem;
      &:first-of-type {
        padding-top: 1.5rem;
      }
    }
  }
  li:not(.title) {
    display: none;
    @include breakpoint(med-lg) {
      display: list-item;
    }
  }

  .open-menu {
    color: $light-text;
    margin-right: 5px;
    background-color: inherit;
    border: none;
    svg {
      width: 1.75rem;
      height: auto;
    }
    @include breakpoint(med-lg) {
      display: none;
    }
  }
}
