@import '../style/variables.scss';
@import '../style/mixins.scss';

main {
  padding-top: 60px; // leaves room for the header
  // padding: 1.5rem 1rem;
  margin: 0 auto;
  max-width: $max-width;
  @include breakpoint(med-lg) {
    padding-top: 110px;
  }
}
