@import '../style/variables.scss';

section {
  padding: 1rem;
  &.hero {
    padding: 0;
    img {
      height: 225px;
      width: 100%;
      object-fit: cover;
    }
    p, a {
      color: $gray-text;
    }
    p {
      text-align: right;
      margin: -.25rem 1rem .25rem;
      font-size: 80%;
    }
  }
  ol {
  padding-left: 1rem;
  }
  li {
    margin-bottom: .5rem;
  }
  .card-lg {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax($card-min,3fr));
    grid-gap: 2rem;
    padding: 0;
    a {
      color: $text;
      text-decoration: none;
    }
    li {
      display: flex;
      flex-direction: column;
      list-style: none;
      max-width: $card-max;
      background-color: $light-text;
      border-radius: 5px;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
      border: 0;
      // border: 2px solid rgba(43, 182, 252, 0);
      transition: border 0.25s ease-out;
      &:hover {
          // border: 2px solid rgba(43, 182, 252, .8);
          // transition: border 0.25s ease-in;
      }
      img {
        height: 225px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }
      div {
        padding: .5rem;
        p {
          margin: .25rem 0;
        }
      }
    }
  }
}
